.heroContainer {
  background-image: -webkit-image-set(
    url('../../assets/img/hero/hero.webp') 1x,
    url('../../assets/img/hero/hero@2x.webp') 2x
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 436px;
  padding-bottom: 60px;
  text-align: center;
}

.heroTitle {
  margin-bottom: 16px;
}

.heroText {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--white);
  margin-bottom: 40px;
}
.heroBtn {
  display: inline-block;
  min-width: 276px;
  font-weight: 600;
  color: var(--white);
}
