.section {
  padding: 128px 0;
}

.h1 {
  font-size: 48px;
  color: var(--black);
  margin-bottom: 16px;
}

.button {
  display: flex;
  gap: 16px;
  width: 100%;
  padding: 17px 0;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 340px;
}

.text {
  font-weight: 400;
  margin-bottom: 32px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
