.carsSection {
  padding-top: 28px;
  padding-bottom: 124px;
}
.carsList {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  row-gap: 48px;
  column-gap: 32px;
}

.carsItem {
  display: flex;
}
