.bookContainer {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 32px;
  background-color: var(--white);
}
.bookTitle {
  margin-bottom: 8px;
}
.bookText {
  color: var(--gray);
  margin-bottom: 24px;
}
.bookForm {
}
.formField {
  width: 100%;
  padding: 12px 20px;
}
.formField:not(:last-child) {
  margin-bottom: 16px;
}
.formField:last-child {
  margin-bottom: 24px;
}
.formField::placeholder {
  color: var(--gray);
}
.formError {
  color: #c80000;
  position: absolute;
  font-size: 12px;
  transform: translateX(5%) translateY(10%);
}
.formBtn {
  margin: 0 auto;
  min-width: 156px;
}
