.bookContainer {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 32px;
  background-color: var(--white);
}
.bookTitle {
  margin-bottom: 8px;
}
.bookText {
  color: var(--gray);
  margin-bottom: 24px;
}
.bookForm {
}
div[class='react-datepicker-wrapper']:has(.formField) {
  width: 100%;
}
.formField {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
}
.formField:not(:last-child) {
  margin-bottom: 16px;
}
.formField:last-child {
  margin-bottom: 24px;
}
.formField::placeholder {
  color: var(--gray);
}
.formTextArea {
  resize: none;
  height: 88px;
}
.formError {
  color: #c80000;
  position: absolute;
  font-size: 12px;
  transform: translateX(5%) translateY(-15px);
}
.formBtn {
  display: block;
  margin: 0 auto;
  min-width: 156px;
}
