.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 276px;
}
.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 28px;
}
.cardFavBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
}
.cardFavIcon {
  fill: var(--badges);
}
.isFavorite .cardFavIcon {
  fill: var(--button);
}
.cardImage {
  border-radius: 14px;
  object-fit: cover;
  margin-bottom: 16px;
}
.cardTopContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-right: 12px;
}
.cardTitle {
  max-width: 225px;
}
.cardTitleAccent {
  color: var(--button);
}
.cardPrice {
}
.cardInfoList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: start;
  height: 40px;
}

.cardInfoItem {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--gray);
  position: relative;
}

/* .cardInfoItem:nth-child(3) {
  margin-right: 10%;
} */

.cardInfoItem:not(:last-child)::after {
  display: inline-block;
  content: '|';
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translate(50%, -50%);
}
.cardDetailsLink {
  display: block;
  color: var(--white);
  width: 100%;
  text-align: center;
}
